@model List<PhoneModel>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Rehber</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
                
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Phonex" asp-action="PhoneAdd" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Yeni Numara Ekle
                </a>
            </div>
        </div>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Telefon Numarası
                    </th>
                    <th>
                        Adres
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(p => p.Address))
                {
                    <tr>
                        <td>
                            @obj.Phone
                        </td>
                        <td>
                            @obj.Address
                        </td>
                        <td>
                            <div class="text-end">
                                <a asp-controller="Phonex" asp-action="Edit" asp-route-id="@obj.PhoneId" class="btn btn-primary">
                                    <i class="bi bi-pencil-square"></i> Düzenle
                                </a>
                                <a asp-controller="Phonex" asp-action="Delete" asp-route-id="@obj.PhoneId" class="btn btn-danger">
                                    <i class="bi bi-trash3-fill"></i> Sil
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>