@model List<PhoneModel>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                TELEFON REHBERİ
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Phonex" asp-action="PhoneAdd" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Yeni Numara Ekle
            </a>
        </div>
    </div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Telefon Numarası
            </th>
            <th>
                Adres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(p => p.Address))
        {
            <tr>
                <td>@obj.Phone</td>
                <td>
                    @obj.Address
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Phonex" asp-action="Edit" asp-route-id="@obj.PhoneId" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i> Düzenle
                        </a>
                            <a asp-controller="Phonex" asp-action="Delete" asp-route-id="@obj.PhoneId" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill"></i> Sil
                            </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>