@model PhoneModel

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Telefon Numarası Ekle</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Phone" class="p-0"></label>
            <input asp-for="Phone" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Address" class="p-0">Adres</label>
            <input asp-for="Address" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control" >Ekle</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Phonex" asp-action="Index" class="btn btn-secondary border form-control">
                    Rehbere geri dön
                </a>
            </div>
        </div>


    </div>
</form>